<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
    <link rel="stylesheet" href="static/css/login.css" />
  </head>
  <body>
    <div class="logo">
      <img src="img/google.png" alt="Logo" />
      <a class="brand-name" href="/">Speak Ease</a>
    </div>
    <div class="container">
      <h2>Login</h2>
      <form>
        <label for="contact">Email / Phone number</label>
        <input
          type="text"
          id="contact"
          placeholder="Enter your Email or Phone number"
          required
        />
        <p
          id="error-message"
          style="color: red; font-size: 14px; display: none"
        >
          Please enter a valid email or phone number.
        </p>

        <label for="password">Password</label>
        <div class="password-field">
          <input
            type="password"
            id="password"
            placeholder="Enter the password"
            required
          />
          <span class="toggle-password"></span>
        </div>

        <button type="submit">Submit</button>
      </form>
      <p class="or">- Or -</p>
      <button class="google-btn">
        <img src="img/google.png" alt="Google Logo" />
        Google
      </button>
    </div>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </body>
</html>
